//colors
$color_primary: #a6a7aa;
$color_secondary: #17bed2;
$color_tertiary: #515769;
$white: #fff;
$black: #000;

//font-family
$fm_primary: 'Hind', sans-serif;
$fm_secondary: sans-serif;
$fm_tertiary: sans-serif;

// font-sizes
$fs_xsmall: 0.8rem;
$fs_small: 1rem;
$fs_small2: 1.4rem;
$fs_medium: 2rem;
$fs_large: 5rem;
